#login {
margin-right: 20px;
margin-top: 10px;
}
.btn-lg {
    min-width: 150px;
}
#entry {
    margin: 7.5em;
    margin-top: 6em;
}
#submit-button {
    float: right;
}
#username {
    float: left;
    text-align: center;
    padding: 12px;
    font-weight: bold;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  .header-right {
      float: right;
      padding: 20px 25px;
  }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  